.faq-container {
    display: flex;
    /* height: 100vh; */
    max-width: 1200px;
    align-items: center;
    flex-direction: column;

}
h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(255, 255, 255);
}
.accordion {
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* outline: 1px solid pink; */
}
.accordion-container {
    display: flex;
    align-items: center;
    /* outline: 1px solid red; */
    flex-direction: column;
}

.accordion-item-open {
    /* width: 90%; */
    /* max-height: 200px;  */
    /* padding: 17px 10px; */
    /* border-bottom: 1px solid #c9c9c9; */
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    /* outline: 1px solid green; */
    flex-direction: column;
    display: flex;
}

.accordion-item-close {
    /* width: 90%; */
    max-height: 70px;
    /* padding: 17px 10px; */
    /* border-bottom: 1px solid #c9c9c9; */
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    /* outline: 1px solid green; */
    flex-direction: column;
    display: flex;
}

.accordion-header {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.accordion-header h4 {
    font-family: 'PingFang SC';
    font-size: 24px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.accordion-content {
    margin:15px;
    font-size: 20px;
}
.accordion-top-border {
    width: 100%;
    border-top: 1px solid #4f4f4f;
}
.accordion-bottom-border {
    width: 100%;
    border-top: 1px solid #4f4f4f;
}

.faq-border-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.faq-border-container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 18px;
}

.sign {
    height: 36px;
    width: 36px;
    margin-top: 17px;
    margin-bottom: 17px;
}

.icon-container {
    margin-top: 17px;
    margin-bottom: 17px;
    color: #8e9191
}

.toggleIn {
    animation: fadein 800ms;
    opacity: 1;
}

.toggleOut {
    animation: fadeout 800ms;
    opacity: 0;
}

@keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}